:root {
  /* Tarot card size */
  --card-width: 70mm;
  --card-height: 120mm;

  /* A4 */
  --page-width: 210mm;
  --page-height: 297mm;
  --page-margin: 10mm;

  --col-count: 2;
  --row-count: 2;
}

.page {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  grid-template-rows: repeat(var(--row-count), 1fr);
  height: var(--page-height);
  justify-items: center;
  margin: 0 auto;
  padding: var(--page-margin);
  width: var(--page-width);
}

.card {
  border: solid 1px black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: var(--card-height);
  width: var(--card-width);
}

@media print {
  @page {
    height: var(--page-height);
    margin: 0;
    width: var(--page-width);
  }

  body {
    margin: 0;
  }
}

@media screen {
  .page {
    border: dotted 1px gray;
    margin: 20px auto;
  }
}